h1 {
  color: green;
  font-style: italic;
}

h2 {
  color: green;
  font-style: italic;
}

.task {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.message {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.menuButton {
  background-color: #519ff1;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 5px;
}

.menuButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.menuButton:active {
  background-color: #004085;
  transform: scale(0.95);
}

/*-------------------------------------------*/
/* botones fuera del menu principal

*/
.outOfMenuButton {
  background-color: #3fb976;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 5px;
}

.outOfMenuButton:hover {
  background-color: #00b37d;
  transform: scale(1.05);
}

.outOfMenuButton:active {
  background-color: #02694a;
  transform: scale(0.95);
}

/*-------------------------------------------*/

.textarea-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
}